body{
    background-color: rebeccapurple
}
table{
    background-color: aquamarine;
    border: 1px solid;
}
.mybutton{
    background: rgb(105, 105, 170);

}
.body2{
    background-color: aqua;

}
.table2{
    background-color: brown;
    border: 3px solid;
    
}