<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="/register" method="post">
            <p>Name: <input type="text" name="name1"></p>
            <p>Email: <input type="email" name="email1"></p>
            <p>Username: <input type="text" name="username1"></p>
            <p>password: <input type="password" name="password1"></p>
            <p><input type="submit" value="register"></p>
         </form>
</body>
</html>