<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/upd" method="POST">
      
        <h3>EmpId</h3>
        <select name="empid">
                <% for(var i=0; i< data.length;i++)
                {%>
                    <option value=<%=data[i].Empid %>> <%=data[i].Empid %> </option>
                    <% } %>
                    
            </select>
         <br><button type="submit" value="sub">Update</button>
    </form>
</body>
</html>