<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Database sample</h3>
    <form action="/insert" method="post" >
        <br>name<input type="text" name="name">
        <br>empid<input type="text" name="empid">
        <br><input type="submit" value="insert">
    </form>
</body>
</html>