<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Database sample</h3>
    <li>
        <a href="/new">New Employee</a>
    </li>
    <li>
        <a href="/view">view Employee</a>
    </li>
    <li>
        <a href="/del">delete Employee</a>
    </li>
    <li>
        <a href="/update">edit Employee</a>
    </li>
    
</body>
</html>